  .card-container.musiccard {
    -webkit-user-select: none;
    user-select: none; /* Prevents text selection */
    cursor: grab;
    margin-bottom: 4px;
    width: 100%;
  }

  .card-container.musiccard:active {
    cursor: grabbing;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
  
  .card.musiccard {
    background-color: white;
    border-radius: 20px;
    border-right: 10px solid #000;
    border-bottom: 10px solid #000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .card.musiccard:hover {
    transform: scale(1.02);
  }
  
  .card-title.musiccard {
    font-size: 1.65rem;
    text-align: left;
    color: #000;
    font-weight: bold;
    padding-bottom:0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  
  .row-container.musiccard {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-label.musiccard {
    color: white;
    background-color: black;
    font-weight: 630;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 0.25rem;
    border-radius: 10px;
    text-align: left;
    font-size: 1.1rem;

  }
  
  .card-footer.musiccard {
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: white;
  }

  .buttons-container.musiccard {
    display: flex;
    align-items: center;
  }

  .select-button.musiccard {
    color: #6e2af5;
    background-color: white;
    font-weight: 650;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 20px;
    text-align: left;
    font-size: 1.2rem;
    border: solid #6e2af5 4px;
  }

  .select-button.musiccard:hover {
    transform: scale(1.1);
  }

  .toggle-preview-button.musiccard {
    padding-left: 6px;
    font-size: 2.2em;
    color: #000;
  }

  button.musiccard {
    background-color: transparent;
    border-width: 0px;
  }

  button.musiccard:hover {
    transform: scale(1.2);
  }

  .empty-flexbox.musiccard {
    flex: 1;
  }