 .parent-wrapper.titledmixcard {
  margin: 10px 20px;
  max-width: 208px;
 }

 .mix-title.titledmixcard {
  margin-top: 8px;
  padding:4px; 
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 }
