  .container-fluid {
    background-color: white; /* CHANGE LATER */
  }
  
  .card-container {
    transform: scale(0.95);
    transition: transform 0.2s;
  }

  .kanban-column {
    flex: 1;
    border-radius: 20px;
    margin: 20px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 16px;
    overflow-y: auto;
    height: 695px;
    max-height: 720px;
    width: 450px;
    max-width: 450px;

    -webkit-user-select: none;
    user-select: none;
  }

  .task-cards-container{
    overflow-y: auto;
    max-height: 600px;
  }

  .task-cards-container::-webkit-scrollbar {
    width: 8px; 
  }

  .task-cards-container::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.5); 
    border-radius: 20px;
  }

  .task-cards-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.85); 
    border-radius: 20px; /* Rounded corners */
  }

  .task-cards-container::-webkit-scrollbar-thumb:hover {
    background: rgba(235, 235, 235, 0.85); 
  }

  .row-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .column-title {
    color: white;
    padding: 8px;
    font-weight: 600;
    text-align: left;
  }

  .add-icon {
    color: white;
    font-size: 2rem;
    margin-right: 10px;
    margin-bottom: 8px;
    background-color: transparent;
  }

  button {
    background-color: transparent;
    border-width: 0px;
  }
  
  .button:hover {
    transform: scale(1.2);
  }
